<!DOCTYPE html>
<div class="container py-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <!--display users list-->
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">id</th>
          <th scope="col">iataCode</th>
          <th scope="col">name</th>
          <th scope="col">latitude</th>
          <th scope="col">longitude</th>
          <th scope="col">municipality</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="airport, i : ${airports}">
          <th scope="row" th:text="${i.index + 1}"></th>
          <td th:text="${airport.id}"></td>
          <td th:text="${airport.iataCode}"></td>
          <td th:text="${airport.name}"></td>
          <td th:text="${airport.latitude}"></td>
          <td th:text="${airport.longitude}"></td>
          <td th:text="${airport.municipality}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>